p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    text-align: justify; 
    font-size: 14px;
}
footer {
    height: 150px;
    background-color:rgba(179, 157, 219, 0.5);
    color:#f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 25px;
    max-height: fit-content;
}
a {
    color: #b39ddb;
    text-decoration: line-through;
}
header {
    display: flex;
    background-color:rgba(179, 157, 219, 0.5);
    height: 150px;
    color: #030027;
    border-radius: 25px;
    padding: 10px;
}
body {
    background-image: url('Images/background_image.jpg');
    font-family: 'Roboto', sans-serif; 
}  
.text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding:10px;
    gap: 20px;
}
.text_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
}
.text_3 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
}
.image_1 { /* artwork */
    width:450px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}
@keyframes rotation {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }
.rotation-image {
        animation: rotation 5s linear infinite;
    }
.image_4{ /* compil */
        width: 120px;
        height: auto;
        display: block;
        margin: 0 auto; 
    }
audio {
    height: 25px;
    max-width: 75%;
    border-radius: 25px;
    background-color: #f5f5f5;
    margin: 10px 0;
} 
form {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 209, 220, 0.2);
    border-radius: 25px;
}
h2{
    text-align: center;
    color:#030027
}
.sous-titre{
    text-align: center;
}
.album-announcement {
    color: #333;
    text-align: center;
    margin: 20px 0;
    animation: clignote 3s infinite;
}
@keyframes clignote {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.artwork {
    color:#333;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}
h3 {
    margin: 10px 0;
    color: #030027;
}
input[type="email"] {
    width: 225px;
    height: 5%;
}
@media screen and (max-width: 455px) { /* en dessous de 455px */
    p {
        font-size: small;
    }
    .image_1{
        width: 300px;
        height: 300px;
    }
    header {
        font-size: x-small;
    }
    footer {
        font-size: x-small;
        height: 100px;
    }
}
@media screen and (max-width: 900px) { /* en dessous de 900 px */
    .image_1{
        width: 350px;
        height: 350px;
    }
}
@media screen and (min-width: 1920px) { /* au dessus de  */
    .image_1{
        width: 850px;
        height: 850px;
    }
    p{
        font-size:xx-large;
    }
    header {
        height:300px;
        font-size: xx-large;
    }
    header.img {
        width: 450px;
        height: auto;
    }
    audio {
        height: 25%;
    }
    footer {
        font-size :larger;
    }
}
.icon-link {
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
    color :#030027
}
.icon-link:hover {
    opacity: 0.8; /* Effet visuel au survol */
}
